.custom_select {
  width: 180px;
  margin: 10px;
}

.language_image {
  width: 24px;
  height: 24px;
}

.image_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #909191;
  font-size: 1rem;
}
